body{
    font-family: "DM sans", arial;
    color:#901C1C;
    max-width: 100%;
    width: 1440px;
    margin:auto;
    box-sizing: border-box;
}

.banner{
    display: flex;
    max-width: 90%;
    margin:auto;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #FFF;
}
.logo{
    margin-top: 42px;
    fill :#901C1C;
    height: 50px;
    width: 200px;
    cursor : pointer;
}
.titrePincipal{
    font-size: 36px;
    margin-top: 44px;
    font-weight: normal;
}
.retour{
    position:fixed;
    top:5vh;
    left:50%;
    margin-left: -91px;
    cursor: pointer;
    width: 182px;
    height: 30px;
    background-color:#DB8876;
    color:#000000;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding-top: 2px;
}
.nav{
    width: 700px;
    height: 49px;
    margin-top: 43px;
    box-sizing: border-box;
    display : flex;
    justify-content: center;
}
.form__option {
    width: 100%;
    height: 16px;
    margin-top: 18px;
    margin-bottom: 15px;
    padding:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}
.btn__option{
    box-sizing: border-box;
    width: auto;
    margin-right:5%;
    display: flex;
    justify-content: center;
}
.btn__option--pagePh{
    margin-right:10%;
}
.label__option{
    border: 0.5px solid #C4C4C4;
    border-radius: 11px;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 12px;
    font-family: "DM sans", arial;
    color:#901C1C;
    text-align: center;
    cursor:pointer;
}
.label__option:hover{
    background-color: #DB8876;
    color:#000000;
}
.label__option[aria-checked=true]{
    background-color: #901C1C;
    color:#FFF;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.vignette__container{
    margin: 2%;
}
.vignette{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    margin:1%;
    text-decoration: none;
    box-sizing: border-box;
    padding:2%;
    
}
.vignette__photo, .vignet__photo{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    background: #C4C4C4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.vignette__titre{
    font-size: 36px;
    margin:0;
    margin-top: 20px;
    color:#D3573C;
    text-align: center;
}
.vignette__city{
    margin:0;
    font-size: 13px;
    color:#901C1C;
    text-align: center;
}
.vignette__tagline{
    margin:0;
    font-size: 11px;
    color:#000000;
    text-align: center;
}
.vignette__price{
    margin:0;
    font-size: 11px;
    color:#757575;
    text-align: center;
}

#sectionPhotographe{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__photographe--info{
    background-color: #FAFAFA;
    display: flex;
    margin:0px;
    padding: 2%;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
}

.vignet__photographe--label{
    min-width:35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin:0;
    
}
.vignet__photographe--label > *{
    display: flex;
    justify-content: flex-start;
}

.vignet__photographe--label .vignette__titre{
    margin-top: 0;
    font-size: 64px;
    text-align: left;
}
.vignet__photographe--label .vignette__city{
    font-size: 24px;
}
.vignet__photographe--label .vignette__tagline{
    color:#525252;
    font-size: 18px;
}

.vignet__photographe--photo{
    width: auto;
    display: flex;
    justify-content: center;
    margin:initial;
}

.vignet__photographe--btn{
    display: flex;
    justify-content: flex-start;
    margin:initial;
    min-width: 30%;
}
.btn__contact,
.btn__submit{
    width: 170px;
    height: 69px;
    background-color:#901C1C;
    color:#FFF;
    border:0;
    border-radius: 5px;
    align-self: flex-start;
    font-size: 18px;
    text-align: center;
    margin-top:5px;
    cursor: pointer;
}
.btn__contact:hover{
    background-color: #DB8876;
    color:#000000;
}

.plage__media, .tri__medias{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding:0;
}

.tri__medias{
    color:#000000;
    font-size: 18px;
}
.custom-select{
    width: 250px;
    margin-left: 10px;
    position: relative;
    border-radius: 5px;
}
.custom-select select{
    display:none;
    margin-left:10px;
    background: #901C1C;
    color: #FFF;
    border-bottom: #FFF;
    border-radius: 5px;
    font-size: 18px;
}
.select-selected{
    background-color: #901C1C;
    border-radius: 5px;
    color:#000000;

}
.select-selected:after{
    position:absolute;
    content:">";
    transform: rotate(90deg);
    text-align: center;
    top:10px;
    right: 10px;
    width: 23px;
    height: 23px;
}
.select-selected.select-arrow-active:after{
    transform: rotate(-90deg);
    top:10px;
    right:10px;
}
.select-items div,.select-selected{
    color:#fff;
    padding:8px 16px;
    border: 1px solid transparent;
    border-color: rgba(255, 255, 255, 0.9) transparent transparent  transparent;
    cursor: pointer;
}
.select-items{
    position: absolute;
    background-color: #901C1C;
    border-radius: 0px 0px 5px 5px;
    top:90%;
    left:0;
    right: 0;
    z-index: 99;
}
.select-hide{
    display: none;
}
.select-items div:hover,
.select-items div:focus {
    background-color: #DB8876;
    color:#000000;
}

.medias{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding:0;
}
.mediasInside{
    display: flex;
    flex-direction: column;
    width: 23%;
    min-width: 220px;
    height: auto;
    margin:1%;
    padding:0;
    margin-bottom: 2%;
}
.media__photo{
    background-color:#C4C4C4 ;
    width: 100%;
    height:220px;
    border-radius: 5px;
    object-fit:cover;
    margin:0;
}
.media__legend{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin:0;
    width: 100%;
    height: auto;
}
.media__titre{
    margin: 0;
    font-size : 24px;
}
.media__like{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    font-size : 24px;
}
.fa-heart{
    font-size: 24px;
    margin-left: 5px;
}

.media__bottom{
background-color: #DB8876;
width: 376px;
height: 89px;
border-radius: 5px;
color : #000000;
display: flex;
justify-content: space-between;
position:fixed;
top:90%;
right : 10%;
}
.like__bottom, .media__price{
    width: auto;
    height: 100%;
    font-size: 24px;
    display: flex;
    margin:0;
    margin-left:10%;
    margin-right: 10%;
    justify-content: space-between;
    align-items: center;
}

.bground {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
}
.content {
    margin: 1% auto;
    width: 100%;
    max-width: 670px;
    height: 96vh;
    background: #DB8876;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    color: #000000;
    padding-top: 10px;
}
form, .entete-modal {
    padding: 0px 8%;
    margin:auto;
}
.entete-modal h2{
    margin : 0;
    padding-top: 0;
    font-size: 55px;
}
label {
    color:#312E2E;
    font-size: 30px;
    font-weight: normal;
    display: inline-block;
}
.formData input {
    height: 45px;
    padding: 8px;
    border: 0;
    outline: none;
}
.formData textarea{
    height: 150px;
}
.text-control {
    margin: 0;
    padding: 8px;
    width: 98%;
    border-radius: 8px;
    font-size: 30px;
    height: 48px;
}
.text-control:focus {
    background-color: rgba(255, 255, 255, 0.8);
    border :double #901C1C 4px;
}
.formData[data-error]::after {
    content: attr(data-error);
    font-size: 1em;
    color: #000000;
    display: block;
    margin-top: 8px;
    margin-bottom: 1px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
    opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
    border: 4px solid #fe142f;
    opacity : 0.6;
}
.formData[data-error-visible="false"]::after {
    opacity: 1;
}
.formData[data-error-visible="false"] .text-control {
    border: 4px solid #279e7a;
}      
.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 70px;
    height: 70px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 80px;
    width: 8px;
    background-color: #fff;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.btn-close {
    position : absolute;
    top:85vh;
    left : 50%;
    margin-left: -85px;
}
.message-modal{
    height:70vh;
    position : absolute;
    top:0;
    left:2%;
    width: 92%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:#FFF;
    font-size: 40px;
    padding: 2%;
}

.lightbox{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index:10;
    animation: lightboxIn 0.5s;
    transition: opacity 0.3s;
}
.lightbox button{
    border:none;
    position:fixed;
    opacity:0.5;
    cursor: pointer;
    transform: opacity 0.3s;
    text-indent: -30000px;
}
.lightbox__next,
.lightbox__prev{
    border : none;
    background: url(../Images/Icones/chevron-right.svg) center center / 50% 50% no-repeat;
    width: 100px;
    height: 100%;
    top : 0;
    right: 0;
    margin-top:-35px;
    z-index:11;
}
.lightbox__prev{
    right: auto;
    left:0;
    transform:rotate(180deg);
}
.lightbox__next:hover,
.lightbox__prev:hover,
.lightbox__close:hover{
    opacity :1;
}
.lightbox__close{
    background: url(../Images/Icones/times.svg) center center / 100% 100% no-repeat;
    width: 70px;
    height: 70px;
    top : 20px;
    right: 20px;
    z-index:12;
}
.lightbox__container--element img,
.lightbox__container--element video{
    max-width: 100%;
    max-height: 90vh;
    animation: lightboxIn 1s;
}
.lightbox__container h4{
    margin:0;
    font-size: 30px;
    max-height: 10vh;
}
.lightbox__container{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.lightbox__container--element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-height: 100vh;
    width: auto;
}
@keyframes lightboxIn{
    from {opacity:0;}
    to {opacity:1;}
}

@media screen and (max-width:1340px) {
    body{
        max-width: 100%;
        margin:0;
    }
    .logo{
        order:1;
        margin-top: 40px;
        width: auto;
        height: 44px;
    }
    .titrePincipal{
        order:2;
        font-size: 24px;
        margin-top: 50px;
    }
    .nav{
        order:3;
        margin:auto;
        width: 90%;
    }
    .form__option {
        width: 100%;
        justify-content: center;
        margin:auto;
    }
    .btn__option{
        margin:2%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .media__bottom{
        position:static;
        margin-bottom: 150px;
    }
}

@media screen and (max-width:426px) {
    main{
        margin-top: 5%;
    }
    .logo{
        height: auto;
        max-width: 150px;
    }
    h1{
        font-size: 14px;
    }
    .form__option {
        margin:10px;
    }
    .btn__option{
        margin:10px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .content {
        height: 100vh;
        top:0;
        margin:0;
    }
    .entete-modal h4{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 36px;
    }
    label {
        color:#312E2E;
        font-size: 24px;
        font-weight: normal;
        display: inline-block;
    }
    .formData input {
        height: 35px;
        padding: 8px;
        border: 0;
        outline: none;
    }
    .formData textarea{
        height: 150px;
    }
    .text-control {
        width: 95%;
        font-size: 20px;
    }
    .close {
        width: 50px;
        height: 50px;
        opacity: 1;
    }
    .close:before,
    .close:after {
        height: 50px;
    }
    .btn__submit{
        position : absolute;
        left : 50%;
        margin-left: -85px;
        height: 60px
    }
    .vignet__photographe--label .vignette__titre{
        font-size: 36px;
    }
    .vignet__photographe--label .vignette__city{
        font-size: 13px;
    }
    .vignet__photographe--label .vignette__tagline{
        font-size: 13px;
    }
    .vignet__photographe--label ul li{
        font-size: 13px;
    }
    .vignet__photographe--photo{
        width: auto;
    }
    .vignet__photo{
        width: 100px;
        height: 100px;
    }
    .btn__contact{
        font-size: 18px;
    }
    .mediasInside{
        width: 100%;
    }
    .lightbox__next,
    .lightbox__prev{
        width: 50px;
    }
    .lightbox__close{
        width: 40px;
        height: 40px;
        right: 15px;
    }
    .lightbox__container{
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width:769px) {
    .vignet__photographe--btn{
        width: 80%;
        justify-content: center;
        margin : auto;
        padding : 0;
        position : fixed;
        top: 85vh;
    }
    .mediasInside{
        width: 45%;
    }

    .lightbox__next,
    .lightbox__prev{
        width: 70px;
    }
    .lightbox__close{
        width: 50px;
        height: 50px;
        right: 10px;
    }
    .lightbox__container{
        margin-left: 70px;
        margin-right: 70px;
    }
}






