/*général*/
body{
    font-family: "DM sans", arial;
    color:#901C1C;
    max-width: 100%;
    width: 1440px;
    margin:auto;
    box-sizing: border-box;
}
/*banner*/
.banner{
    display: flex;
    max-width: 90%;
    margin:auto;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #FFF;
}

.logo{
    margin-top: 42px;
    fill :#901C1C;
    height: 50px;
    width: 200px;
    cursor : pointer;
}
h1{
    font-size: 36px;
    margin-top: 44px;
    font-weight: normal;
}

/*boutons de sélection*/
.nav{
    width: 700px;
    height: 49px;
    margin-top: 43px;
    box-sizing: border-box;
}

.form__option {
    width: 100%;
    height: 16px;
    margin-top: 18px;
    margin-bottom: 15px;
    padding:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}

.btn__option{
    box-sizing: border-box;
    width: auto;
    margin-right:5%;
    display: flex;
    justify-content: center;
}
.input__option{
    display: none;
}
.input__option + label{
    border: 0.5px solid #C4C4C4;
    border-radius: 11px;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 12px;
    font-family: "DM sans", arial;
    color:#901C1C;
    text-align: center;
    cursor : pointer;
}

.input__option[checked=true] + label{
    background-color: #901C1C;
    color:#FFF;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.vignette{
    cursor: pointer;
}
.vignette, article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    margin:1%;
    text-decoration: none;
    box-sizing: border-box;
    padding:2%;
    
}
.vignette__photo, .vignet__photo{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    background: #C4C4C4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.vignette__titre{
    font-size: 36px;
    margin:0;
    margin-top: 20px;
    color:#D3573C;
    text-align: center;
}
.vignette__city{
    margin:0;
    font-size: 13px;
    color:#901C1C;
    text-align: center;
}
.vignette__tagline{
    margin:0;
    font-size: 10px;
    color:#000000;
    text-align: center;
}
.vignette__price{
    margin:0;
    font-size: 9px;
    color:#757575;
    text-align: center;
}
.vignette ul, .page__photographe--info ul {
    width: 100%;
    height: 16px;
    margin-top: 5px;
    padding:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}
.page__photographe--info ul{
    justify-content: flex-start;
}

.vignette ul li, .page__photographe--info ul li{
    border: 0.5px solid #C4C4C4;
    border-radius: 11px;
    box-sizing: border-box;
    height: 100%;
    margin-right: 1%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 12px;
    font-family: "DM sans", arial;
    text-decoration: none;
    color:#901C1C;
    text-align: center;
}

#sectionPhotographe{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page__photographe{
    padding:0;
    display: flex;
    width: 100%;
}
.page__photographe--info{
    background-color: #FAFAFA;
    display: flex;
    margin:0px;
    padding: 2%;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
}

.vignet__photographe--label{
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.vignet__photographe--label > *{
    display: flex;
    justify-content: flex-start;
}

.vignet__photographe--label .vignette__titre{
    margin-top: 0;
    font-size: 64px;
    text-align: left;
}
.vignet__photographe--label .vignette__city{
    font-size: 24px;
}
.vignet__photographe--label .vignette__tagline{
    font-size: 18px;
}
.vignet__photographe--label ul{
    font-size: 18px;
}
.vignet__photographe--photo{
    min-width: 20%;
    display: flex;
    justify-content: center;
}
.vignet__photographe--btn{
    display: flex;
    justify-content: flex-start;
    margin:initial;
    width: 30%;
}
.btn__contact{
    width: 170px;
    height: 69px;
    background-color:#901C1C;
    color:#FFF;
    border:0;
    border-radius: 5px;
    align-self: flex-start;
    font-size: 20px;
    text-align: center;
    margin-top:5px;
    cursor: pointer;
}
.plage__media, .tri__medias{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding:0;
}
.tri__medias{
    color:#000000;
    font-size: 18px;
}

.custom-select{
    width: 250px;
    margin-left: 10px;
    position: relative;
    border-radius: 5px;
}
.custom-select select{
    display:none;
    margin-left:10px;
    background: #901C1C;
    color: #FFF;
    border-bottom: #FFF;
    border-radius: 5px;
    font-size: 18px;
}
.select-selected{
    background-color: #901C1C;
    border-radius: 5px;
    color:#000000;

}
.select-selected:after{
    position:absolute;
    content:">";
    transform: rotate(90deg);
    text-align: center;
    top:10px;
    right: 10px;
    width: 23px;
    height: 23px;
}
.select-selected.select-arrow-active:after{
    transform: rotate(-90deg);
    top:10px;
    right:10px;
}

.select-items div,.select-selected{
    color:#fff;
    padding:8px 16px;
    border: 1px solid transparent;
    border-color: rgba(255, 255, 255, 0.9) transparent transparent  transparent;
    cursor: pointer;
}
.select-items{
    position: absolute;
    background-color: #901C1C;
    border-radius: 0px 0px 5px 5px;
    top:90%;
    left:0;
    right: 0;
    z-index: 99;
}
.select-hide{
    display: none;
}
.select-items div:hover {
    background-color: #DB8876;
    color:#000000;
}

.medias{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding:0;
}

.mediasInside{
    display: flex;
    flex-direction: column;
    width: 23%;
    min-width: 220px;
    height: auto;
    margin:1%;
    padding:0;
    margin-bottom: 2%;
}

.media__photo{
    width: 100%;
    height:220px;
    border-radius: 5px;
    object-fit:cover;
    margin:0;
}
.media__legend{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin:0;
    width: 100%;
    height: auto;
}
h3{
    margin: 0;
    font-size : 15px;
}
.media__like{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    font-size : 15x;
}
.fa-heart{
    font-size: 15px;
    margin-left: 5px;
}

.media__bottom{
background-color: #DB8876;
width: 376px;
height: 89px;
border-radius: 5px;
color : #000000;
display: flex;
justify-content: space-between;
position:fixed;
top:90%;
right : 10%;
}

.like__bottom, .media__price{
    width: auto;
    height: 100%;
    font-size: 24px;
    display: flex;
    margin:0;
    margin-left:10%;
    margin-right: 10%;
    justify-content: space-between;
    align-items: center;
}

.bground {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
}
.content {
    margin: 5% auto;
    width: 100%;
    max-width: 670px;
    height: 85vh;
    background: #DB8876;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    color: #000000;
    padding-top: 10px;
}
.modal-body, .entete-modal {
    padding: 0px 8%;
    margin:auto;
}
.entete-modal h3{
    padding-top: 0;
    font-size: 64px;
}
label {
    color:#312E2E;
    font-size: 36px;
    font-weight: normal;
    display: inline-block;
}
.formData input {
    height: 68px;
    padding: 8px;
    border: 0;
    outline: none;
}
.formData textarea{
    height: 170px;
}
.text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 36px;
    height: 48px;
}
.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
    opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}
.formData[data-error-visible="false"]::after {
    opacity: 1;
}
.formData[data-error-visible="false"] .text-control {
    border: 2px solid #279e7a;
}      
.close {
    position: absolute;
    right: 15px;
    top: 20px;
    width: 80px;
    height: 80px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 80px;
    width: 8px;
    background-color: #fff;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.btn-submit,
.btn-signup {
    background: #fe142f;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
}

@media screen and (max-width:400px) {
    main{
        margin-top: 5%;
    }
}
@media screen and (max-width:1340px) {
    /*général*/
    body{
        max-width: 100%;
        margin:0;
    }

    /*banner*/
    .logo{
        order:1;
        margin-top: 40px;
        width: auto;
        height: 44px;
    }
    h1{
        order:2;
        font-size: 24px;
        margin-top: 50px;
    }

    /*boutons sélection*/
    .nav{
        order:3;
        margin:auto;
        width: 90%;
    }
    .form__option {
        width: 100%;
        justify-content: center;
        margin:auto;
    }
    .btn__option{
        margin:2%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
}

@media screen and (max-width:426px) {
    /*banner*/
    .logo{
        height: auto;
        max-width: 150px;
    }
    h1{
        font-size: 14px;
    }

    /*boutons sélection*/
    .form__option {
        margin:10px;
    }
    .btn__option{
        margin:10px;
        margin-top: 0;
        margin-bottom: 5px;
    }
}

@media screen and (max-width:769px) {

    .vignet__photographe--btn{
        width: 80%;
        justify-content: center;
        margin : auto;
        padding : 0;
        position : fixed;
        top: 85vh;
    }
    .mediasInside{
        width: 45%;
    }
    .media__bottom{
        position:static;
        margin-bottom: 150px;
        }
}

@media screen and (max-width:426px) {
    .vignet__photographe--label .vignette__titre{
        font-size: 36px;
    }
    .vignet__photographe--label .vignette__city{
        font-size: 13px;
    }
    .vignet__photographe--label .vignette__tagline{
        font-size: 13px;
    }
    .vignet__photographe--label ul{
        font-size: 13px;
    }
    .vignet__photographe--photo{
        width: auto;
    }
    .vignet__photo{
        width: 100px;
        height: 100px;
    }
    .btn__contact{
        font-size: 18px;
    }
    .mediasInside{
        width: 100%;
    }
}




